// ============================
// Events-Liste
// ============================
// Farben (kannst du anpassen oder mit :root Variablen arbeiten)


.evm-events-list {
  margin: 2rem 0;

  .evm-month {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2rem 0 1rem;
    border-bottom: 1px solid $color-accent;
    padding-bottom: .3rem;
  }

  .evm-event {
    display: flex;
    gap: 1rem;
    padding: .1rem 0;

    &:last-child {
      border-bottom: none;
    }

    .evm-event-date {
      flex: 0 0 270px;   // fixe Breite für Datum
      font-weight: 500;
      color: #111;
    }

    .evm-event-location {
      flex: 0 0 140px;   // fixe Breite für Ort
      color: #666;
      font-style: italic;
    }

    .evm-event-title {
      flex: 0 0 380px;           // nimmt den restlichen Platz
      font-weight: 500;

    }

    .evm-event-icons {
      font-size:0.8rem;
      flex: 0 0 140px;    // Icons bleiben am Ende
      margin-left: auto;
      text-align:right;
      a {
        color: $color-accent;
        width: 15px;
        height: 15px;
        vertical-align: middle;
      }
    }
  }
}

/* 📱 Mobile-Ansicht */
@media (max-width: 768px) {
  .evm-events-list {
    .evm-event {
      flex-direction: column;
      align-items: flex-start;
      gap: .3rem;

      .evm-event-date,
      .evm-event-location,
      .evm-event-title {
        flex: unset;
        width: 100%;
      }

      .evm-event-icons {
        margin-left: 0;
        margin-top: .3rem;
      }
    }
  }
}


// ============================
// "Weitere Veranstaltungen" Button
// ============================

.evm-events-more {
  text-align: center;
  margin: $spacing-lg 0;

  .evm-load-more {
    background: $color-accent;
    color: #fff;
    padding: $spacing-sm $spacing-lg;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: darken($color-accent, 10%);
    }

    &:disabled {
      background: $color-border;
      cursor: not-allowed;
    }
  }
}

.evm-event-detail{
  h4{
    color: var(--color-accent) !important;
  }
  .evm-detail-organizer{
    font-size:20px;
    font-weight: 500;
  }
  .evm-detail-date{
    font-size:18px;
    font-weight: 500;
  }
}

