a {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.wpem-loading {
  display: flex;
  align-items: center;
  gap: 6px;
  background: rgba(255,255,255,.9);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
  color: #2271b1;
  animation: fadeIn .2s ease;

  &.short {
    background: transparent;

    .dashicons {
      color: #fff;
    }
  }

  .dashicons {
    font-size: 18px;

    &.spin {
      animation: spin 1s linear infinite;
    }
  }
}
